<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=main, initial-scale=1.0">
   
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <%- include('../partials/header') %>

    <!-- insert header -->
    <main>
        <h1>
       Welcome to our schedule website
        </h1>
        <!-- insert users -->
    </main>
    <!-- insert footer -->
</body>
</html>